
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Website Title -->
    <title>Credict Cards fraud detection DEMO</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet" type='text/css'>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type='text/css'>
    <link href="/static/css/fontawesome-all.css" rel="stylesheet" type='text/css'>
    <link href="/static/css/swiper.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/magnific-popup.css" rel="stylesheet" type='text/css'>
	<link href="/static/css/styles.css" rel="stylesheet" type='text/css'>
	
	<!-- Favicon  -->
    <link rel="icon" href="/static/images/logo.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <a class="navbar-brand logo-text page-scroll" href="index.html">DEMO</a>

            <!-- Image Logo -->
            <!-- <a class="navbar-left" href="index.html"><img src="/static/images/demo.png" alt="alternative"></a>  -->
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">Feature Engineering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#models">Machine Learning Models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#PCA-results">PCA results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#confusion-matrix">Confusion Matrix</a>
                    </li>
                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="predict_page.html">Make a prediction！</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <!-- 最上面的字-->
                        <div class="text-container">
                            <h1>信用卡盜刷偵測DEMO</h1>
                            <p class="p-large">Use Machine Learning Models to prevent the risk of credit card fraud！</p>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="/static/images/header-software-app.png" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->

    <!-- Features Engineering -->
    <div id="features"class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">Feature Engineering</div>
                    <h2 class="h2-heading">I made a lot of effort to produce new features.</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/details.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Groupby raw features</h4>
                            <p>透過groupby各種features來加強準確度</p>
                            <p>Count_txkey_gb_same_person</p>
                            <br>
                            <p>Count_txkey_gb_same_card</p>
                            <br>
                            <p>Count_txkey_gb_same_card_same_day</p>
                            <br>
                            <p>Count_txkey_gb_same_card_same_hour</p>
                            <br>
                            <p>Count_txkey_gb_same_card_same_day_ecfg</p>
                            <br>
                            
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/conam_ecfg.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Perspective from EDA</h4>
                            <p>透過EDA發現的盜刷特徵進一步定義</p>
                            <p>ecfgY_conam1000_1500</p>
                            <br>
                            <p>ecfgN_conam0_400</p>
                            <br>
                            <p>ovrltN_conam0_200_or_800_1200</p>
                            <br>
                            <p>ovrltY_conam1200_3000</p>
                            <br>
                            
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/cicrle.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">features_danger</h4>
                            <p>觀察盜刷者與正常人的不同並標記</p>
                            <p>mchno_danger</p>
                            <br>
                            <p>stocn_danger</p>
                            <br>
                            <p>mcc_danger</p>
                            <br>
                            <p>etymd_danger</p>
                            <br>
                            <p>acqic_danger</p>
                            <br>
                        </div>
                    </div>

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/loctm.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Others features</h4>
                            <p>其他</p>

                            <p>loctm_hour</p>
                            <br>
                            <p>month</p>
                            <br>
                            <p>Percent_of_ecfg</p>
                            <br>
                            <p>cano_scity_count</p>
                            <br> 
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of Features Engineering -->


    <!-- Machine Learning Models -->
    <div id="models" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                
                    <h2 class="h2-heading">Machine Learning Models</h2>
                    <p class="p-heading">I had bulit three model by catboost , each of them have its advantage. </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Model1(raw)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-envelope-open-text"></i>Model2(SMOTE)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-chart-bar"></i>Model3(SMOTEENN)</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->

                    <!-- Tabs Content -->
                    <div class="tab-content" id="argoTabsContent">

                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="/static/images/model1i.jpg" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Model1(raw)</h3>
                                        <p>Feature Engineering後直接使用原始的資料建模，是整體表現最好的模型，您可以透過 <a class="blue page-scroll" href="predict_page.html">Make a prediction！</a> 來預測客戶是否遭受到盜刷的風險。</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">使用資料筆數：({正常: 1050843, 盜刷: 14407})</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Precision of model(raw)：0.7470067673086934</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Recall of model(raw)：0.7237726967047747</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">F1_score of model(raw)：0.7352062163777645</div>
                                            </li>
                                        </ul>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="/static/images/model2i.jpg" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Model2(SMOTE)</h3>
                                        <p>經過了SMOTE(Synthetic Minority Oversampling Technique，合成少數過採樣技術)將盜刷過採樣至跟非盜刷筆數相同後再建模，Recall極高。</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">使用資料筆數：({正常: 1050843, 盜刷: 1050843})</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Precision of model2(SMOTE)：0.2232067679724149</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Recall of model2(SMOTE)：0.9359448554135844</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">F1_score of model2(SMOTE)：0.36045194082035675</div>
                                            </li>
                                        </ul>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="/static/images/model3i.jpg" alt="alternative">
                                    </div> <!-- end of image-container -->
  
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Model3(SMOTEENN)</h3>
                                        <p>經過SMOTE+ENN(Edited Nearest Neighbor)將兩者較無鑑別度的樣本排除，使用較少量的樣本數就完成了媲美model2的高Recall率！</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">使用資料筆數：({正常: 1019862, 盜刷: 1047384})</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Precision of model3 (SMOTEENN)：0.20853870955786977</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Recall of model3 (SMOTEENN)：0.9460322797579018</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">F1_score of model3 (SMOTEENN)：0.3417448604658225</div>
                                            </li>
                                        </ul>
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->
                        
                    </div> <!-- end of tab content -->
                    <!-- end of tabs content -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of Machine Learning Models -->

    <!-- PCA-results -->
    <div id="PCA-results" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">PCA-results</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card-->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/pca1.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            
                            <div class="divider"></div>
                            <div class="card-title">Model1(raw)</div>
                        </div>
                    </div> <!-- end of card -->
            
                <!-- Card-->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/static/images/pca2.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        
                        <div class="divider"></div>
                        <div class="card-title">Model2(SMOTE)</div>
                    </div>
                </div> <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/static/images/pca3.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        
                        <div class="divider"></div>
                        <div class="card-title">Model3(SMOTEENN)</div>
                    </div>
                </div> <!-- end of card -->    

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pca-results -->

    <!-- confusion-matrix -->
    <div id="confusion-matrix" class="cards-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-13">
                    <h2 class="h3-heading">Confusion Matrix</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-13">

                    <!-- Card-->
                    <div class="card">
                      
                        <div class="card-image">
                            <img class="img-fluid" src="/static/images/model1.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                         <div class="divider"></div>   
                        <div class="card-title">Model1(raw)</div>    
                        </div>
                    </div> <!-- end of card -->
            
                <!-- Card-->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/static/images/model2.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        
                        <div class="divider"></div>
                        <div class="card-title">Model2(SMOTE)</div>
                    </div>
                </div> <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="/static/images/model3.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        
                        <div class="divider"></div>
                        <div class="card-title">Model3(SMOTEENN)</div>
                    </div>
                </div> <!-- end of card -->    

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-3 -->
    <!-- end of confusion matrix -->

    <!-- Footer -->
    <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
    <div class="footer">
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>